/* Hero Section  */
.landing_hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-template-rows: auto;
  padding-top: 2rem;
  background-color: var(--primary-color);
}

.landing_hero > div {
  display: flex;
  justify-content: center;
}

.hero_illustration {
  padding: 2rem;
  margin: 1rem;
  animation: fadeInRight 1.5s;
  max-width: 80%;
  height: auto;
}

.value_prop {
  padding: 1rem;
  margin: 3rem;
  font-size: 2.5rem;
  justify-self: center;
  align-self: center;
}

.wave_bottom_hero > img {
  width: 100%;
}

/* Feature Text Section */

.feature1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-template-rows: auto;
  margin: 1rem;
  padding: 1rem;
}

.feature2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-template-rows: auto;
  margin: 1rem;
  padding: 1rem;
}

.feature1_text {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature2_text {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Landing Page IMGs and Animations*/

.feature1_img {
  padding: 2rem;
  margin: 2rem;
  max-width: 80%;
  height: auto;
  animation: fadeInRight 1.5s;
  justify-self: center;
}

@media screen and (max-width: 768px) {
  .feature2_img {
    display: none;
  }
}

.feature2_img {
  padding: 2rem;
  margin: 2rem;
  max-width: 80%;
  height: auto;
  animation: fadeInLeft 1.5s;
  justify-self: center;
}

.feature1_img_none {
  opacity: 0;
}

.feature2_img_none {
  opacity: 0;
}

/* General Styles */

.bottom_cta_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.get_started_button {
  margin-top: 2rem;
  margin-bottom: 1rem;
  align-self: center;
  width: 16rem;
  padding: 1.4rem 1rem 1.4rem 1rem;
  background-color: white;
  border: 1px solid blue;
  color: blue;
  font-weight: 900;
  cursor: pointer;
}

.get_started_button:hover {
  background-color: lightblue;
}

.find_out_more_button {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  width: 14rem;
  padding: 1.2rem 2rem 1.2rem 2rem;
  background-color: blue;
  color: white;
  border: none;
  font-weight: 800;
  cursor: pointer;
}

/* Bottom Section */

.bottom_cta_section {
  margin-top: 7rem;
  margin: 2em;
}

.social_title {
  text-align: center;
  margin: 1rem;
  padding-bottom: 2rem;
}

.social_bar {
  padding-top: 7rem;
  margin: 1rem;
}

/* Animations */

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
