html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

<<<<<<< HEAD
:root {
  font-size: 62.5%;
  --primary-color: blue;
  --secondary-color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
=======
*, *:before, *:after {
  box-sizing: border-box;
>>>>>>> 1bf8e9f6505181f6e74189097c764e6354dec117
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

/* 
Screen Sizes
Mobile: 400 px;
Tablet/Mobile Landscape: 700 px
Laptop/Tablet Landscape: 1000 px;
Desktop: 1000+ px; 
 */
