.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(128, 118, 118, 0.2);
  height: 32rem;
  width: 100%;
  border-bottom: 2em solid blue;
}

.card_full {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(128, 118, 118, 0.2);
  height: 100%;
  width: 100%;
}

.card_top_row {
  display: flex;
}

.card_image {
  width: 10rem;
  height: 13rem;
}

.card_title {
  padding-left: 1rem;
  padding-right: 0.2rem;
}

.card_desc {
  padding: 1rem;
  margin-top: 1rem;
}

/* Truncation Action Buttons */
.collapse {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  padding-left: 1rem;
  padding-bottom: 0.2rem;
  margin-top: -0.5rem;
}

.read_more {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  padding-top: 0.2rem;
}
